

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="manager-page/layout.html::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="manager-page/layout.html::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="manager-page/layout.html::container-fluid"/>
    <div th:replace="manager-page/layout.html::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h4>Danh Sách Banner</h4>
                            <a th:href="@{/banner/add}"><button type="button" class="btn btn-primary">Tạo Mới Banner</button></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading" style="margin-left: 48%">
                                <form role="search" class="sr-input-func">
                                    <input onkeyup="banner.search()" type="text" id="search" placeholder="Search..." class="search-int form-control"/>
                                </form>
                            </div>
                        </div>
                        <p hidden id="mess" th:text="${mess}"></p>
                        <p hidden id="error" th:text="${error}"></p>
                        <div class="asset-inner">
                            <table style="margin-top: 1%">
                                <tr>
                                    <th>STT</th>
                                    <th>Hình Ảnh</th>
                                    <th>Mô tả</th>
                                    <th>Hành Động</th>
                                </tr>
                                <tbody id="showBlog">
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="manager-page/layout.html::scrip"></footer>
</body>
<script>
    let apiUrl = "https://tht-center.herokuapp.com";
    // let apiUrl = "http://localhost:8080/api";
    var banner = {};
    let stt = 1;
    banner.showAll = function (page) {
        $.ajax({
            url: apiUrl+"/banner?page=" + page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showBlog').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num != 0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="banner.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage - 1) {
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="banner.showAll(${num} +1)">Sau</a></li>`);
                }


                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }
                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showBlog').append(
                        "<tr>" +
                        "<td>" + ++i + "</td>" +
                        "<td><img src='/upload/" + v.image + "'></td>" +
                        "<td>" + v.description + "</td>" +
                        "<td>" +
                        "<a  href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='banner.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>" +
                        "<a href='#' data-toggle='tooltip' title='Xóa' style='padding-left: 35px' ><i onclick='banner.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }

    banner.search = function () {
        $.ajax({
            url: apiUrl+"/banner/search?description=" + document.getElementById("search").value,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showBlog').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num != 0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="banner.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage - 1) {
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="banner.showAll(${num} +1)">Sau</a></li>`);
                }


                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }
                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showBlog').append(
                        "<tr>" +
                        "<td>" + ++i + "</td>" +
                        "<td><img src='/upload/" + v.image + "'></td>" +
                        "<td>" + v.description + "</td>" +
                        "<td>" +
                        "<a  href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='banner.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>" +
                        "<a href='#' data-toggle='tooltip' title='Xóa' style='padding-left: 35px' ><i onclick='banner.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }


    banner.delete = function (id) {
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: apiUrl+"/banner/" + id,
                        method: "DELETE",
                        contentType: 'json',
                        success: function (data) {
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: "xóa thành công"
                            });
                            banner.showAll(0);
                        }
                    });
                }
            }
        });
    }


    banner.editForm = function (id) {
        window.location = "/banner/edit/" + id;
    };


    $(document).ready(function () {
        banner.showAll(0);
    });
</script>
</html>