<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 1%;">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Tạo Lớp Mới</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad addcoursepro">
                                                <!--                                                Start Form-->
                                                <form th:action="@{/class/add}" method="post" th:object="${classRoom}"
                                                      class="dropzone dropzone-custom needsclick addcourse"
                                                      id="demo1-upload">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="teacher">Tên Lớp</label>
                                                                <input th:field="*{className}" type="text"
                                                                       class="form-control" placeholder="Tên Lớp">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('className')}"
                                                                       th:errors="*{className}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="teacher">Chủ Nhiệm</label>
                                                                <select class="form-control" id="teacher"
                                                                        th:field="*{teacher}">
                                                                    <option value="-1" selected >---Vui Lòng chọn---
                                                                    </option>
                                                                    <th:block th:each="teacher : ${users}">
                                                                        <option th:value="${teacher.id}"
                                                                                th:utext="${teacher.fullname}"></option>
                                                                    </th:block>
                                                                </select>
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('teacher')}"
                                                                       th:errors="*{teacher}">Name Error</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                                             style="margin-top: 1%">
                                                            <label for="course">Thuộc Niên Khóa</label>
                                                            <select class="form-control" id="course"
                                                                    th:field="*{course}">
                                                                    <option value="-1" selected >---Vui Lòng chọn---
                                                                    </option>
                                                                <th:block th:each="cou : ${courses}">
                                                                    <option th:value="${cou.id}"
                                                                            th:utext="${cou.getCourseName()}"></option>
                                                                </th:block>
                                                                </select>
                                                            <small class="form-text text-muted"
                                                                   th:if="${#fields.hasErrors('course')}"
                                                                   th:errors="*{course}">Name Error</small>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class=" row">
                                                            <div class="col-lg-1">
                                                                <div class="payment-adress">
                                                                    <button type="submit"
                                                                            class="btn btn-primary waves-effect waves-light">
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </form>
                                                <!--                                                End Form-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>

</html>