<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <p hidden id="mess" th:text="${mess}"></p>
                <p hidden id="error" th:text="${error}"></p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Danh Sách Lớp</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading" style="margin-left: 48%">
                                <form role="search" class="sr-input-func">
                                    <input
                                            onkeyup="classRoom.search()"
                                            id="search"
                                            type="text"
                                            placeholder="Search..."
                                            class="search-int form-control"
                                    />
                                </form>
                            </div>
                        </div>
                        <p hidden id="mess" th:text="${mess}"></p>
                        <p hidden id="error" th:text="${error}"></p>
                        <div class="asset-inner">
                            <table>
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên Lớp</th>
                                    <th>Niên Khóa</th>
                                    <th>Chương trình học</th>
                                    <th>Ngày Bắt Đầu</th>
                                    <th>Chủ Nhiệm</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="showAllClassRoom">
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    var classRoom = {};

    classRoom.showAll = function (page) {
        $.ajax({
            url : "http://localhost:8080/api/classRoom?page="+page,
            method : "GET",
            dataType : "json",
            success : function (data){
                $('#showAllClassRoom').empty('');
                let totalPage = parseInt(data.totalPages);
                console.log(totalPage);
                let num = parseInt(data.pageable.pageNumber);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="classRoom.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }
                }

                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="classRoom.showAll(${num} +1)">Sau</a></li>`);
                }

                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }

                $.each(data.content, function (i, v) {
                    i = stt
                    let date = moment(v.createdDate).format("YYYY-MM-DD")
                    $('#showAllClassRoom').append(`
                        <tr>
                        <td> ${++i}  </td>
                        <td> ${v.className} </td>
                        <td> ${v.course.courseName} </td>
                        <td> ${v.course.programme.programmeName} </td>
                        <td> ${date} </td>
                        <td> ${v.teacher.fullname} </td>
                        <td>
                        <a   href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='classRoom.editForm(${v.id})'  ><i class=\"fas fa-edit\" ></i></a>

                        <a style='padding-left: 15%'   href='#' data-toggle='tooltip' title='Chi Tiết' onclick='classRoom.view( ${v.id} )'  ><i class=\"fas fa-eye\"></i></a>

                        <a style='padding-left: 15%'  href='#' data-toggle='tooltip' title='Xóa'   ><i onclick='classRoom.delete( ${v.id})' class=\"fas fa-trash-alt\"></i></a>
                        </td>
                        </tr>`
                    );
                    stt = i;
                })
            }
        })
    };

    classRoom.search = function () {
        $.ajax({
            url : "http://localhost:8080/api/classRoom/search?name=" + document.getElementById("search").value,
            method : "GET",
            dataType : "json",
            success : function (data){
                $('#showAllClassRoom').empty('');
                let totalPage = parseInt(data.totalPages);
                console.log(totalPage);
                let num = parseInt(data.pageable.pageNumber);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="programmes.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }
                }

                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="programmes.showAll(${num} +1)">Sau</a></li>`);
                }

                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }

                $.each(data.content, function (i, v) {
                    i = stt
                    let date = moment(v.createdDate).format("YYYY-MM-DD")
                    $('#showAllClassRoom').append(`
                        <tr>
                        <td> ${++i}  </td>
                        <td> ${v.className} </td>
                        <td> ${v.course.courseName} </td>
                        <td> ${v.course.programme.programmeName} </td>
                        <td> ${date} </td>
                        <td> ${v.teacher.fullname} </td>
                        <td>
                        <a   href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='classRoom.editForm(${v.id})'  ><i class=\"fas fa-edit\" ></i></a>

                        <a style='padding-left: 15%'  href='#' data-toggle='tooltip' title='Chi Tiết' onclick='classRoom.view( ${v.id} )'  ><i class=\"fas fa-eye\"></i></a>

                        <a style='padding-left: 15%'   href='#' data-toggle='tooltip' title='Xóa'  ><i onclick='classRoom.delete( ${v.id})' class=\"fas fa-trash-alt\"></i></a>
                        </td>
                        </tr>`
                    );
                    stt = i;
                })
            }
        })
    };

    classRoom.editForm = function (id){
        window.location = "/class/edit?id="+id;
    }

    classRoom.view = function (id){
        window.location = "/class/view?id="+id;
    }

    classRoom.delete = function (id) {
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/classRoom/" + id,
                        method: "DELETE",
                        contentType: 'json',
                        success: function (data) {
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: "xóa thành công"
                            });
                            classRoom.showAll(0);
                        }
                    });
                }
            }
        });
    }

    $(document).ready(function (){
        classRoom.showAll(0);
    })
</script>
</body>
</html>