<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#studentList">Danh Sách Học Viên</a></li>
                            <li><a href="#schedule">Lịch Trình Bài Học</a></li>
                            <li><a href="#point"> Nhập Điểm</a></li>
                            <li><a href="#importStudent"> Thêm Học Viên Vào Lớp</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="studentList">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <input type="hidden" th:value="${classRoom.id}" id="idClassRoom">
                                            <div class="asset-inner">
                                                <table>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên Học Viên</th>
                                                        <th>Email</th>
                                                        <th>Số Điện Thoại</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tbody id="showAllStudent">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="custom-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="#">Previous</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="schedule">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên Buổi</th>
                                                        <th>Khung giờ học</th>
                                                        <th>Ngày</th>
                                                        <th>Nội Dung Chính</th>
                                                        <th>Điểm Danh</th>
                                                        <th>Nhận Xét</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="showListTimeTable">
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Lesson 1</td>
                                                        <td>14/4/2021</td>
                                                        <td>Động từ bất quy tắc</td>
                                                        <td>
                                                            <a th:href="@{/attend}">
                                                                <button data-toggle="tooltip" title="Điểm Danh"
                                                                        class="pd-setting-ed"><i class="fa fa-table"
                                                                                                 aria-hidden="true"></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <a href="">
                                                                <button data-toggle="tooltip" title="Lưu Nhận Xét"
                                                                        class="pd-setting-ed"><i class="fa fa-save"
                                                                                                 aria-hidden="true"></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="point">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <thead id="headListStudent">
                                                    <tr id="headRecord">
                                                        <th>STT</th>
                                                        <th>Tên Học Viên</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody id="listStudent">

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="custom-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="#">Previous</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="importStudent">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="devit-card-custom">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="search"
                                                                   id="search" placeholder="Email Học Viên">
                                                        </div>
                                                        <ul class="form-group" id="result"></ul>
                                                        <button type="submit" onclick="classRoom.save()"
                                                                class="btn btn-primary waves-effect waves-light">Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">

    var classRoom = {};
    var examType = {};
    var point = {};
    var timeT = {};

    var userStudent = {};
    var classR = {};
    var studentC = {};

    // tìm kiếm loại điểm
    point.findExamTyeById = function (id) {
        for (let i = 0; i < examType.data.length; i++) {
            if (id === examType.data[i].id) {
                return examType.data[i]
            }
        }
        return null;
    }

    // lưu điểm
    point.save = function (i, v) {
        const points = document.getElementsByClassName(`point${i}`);
        const arrayPoints = [];
        const arrayExamType = [];
        for (let j = 0; j < points.length; j++) {
            arrayPoints.push(points[j].value);
            arrayExamType.push($(points[j]).data("type"))
        }
        var savePoint = {
            idStudentClass: v,
            points: arrayPoints,
            examTypes: arrayExamType
        }
        $.ajax({
            url: "http://localhost:8080/api/point/",
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(savePoint),
            success: function (data) {
                console.log(data);
                window.Lobibox.notify('success', {
                    size: 'mini',
                    msg: 'Thêm điểm cho học viên thành công'
                });
                classRoom.findAllStudent(0);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                window.Lobibox.notify('error', {
                    size: 'mini',
                    msg: 'Điểm đã nhập không hơp lệ (thang điểm từ 0 đến 10)'
                });
            }
        })
    }

    // xuất ra danh sách thể loại điểm
    examType.findAllExamList = function (page) {
        $.ajax({
            url: "http://localhost:8080/api/examTypes?page=" + page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                examType.data = data.content;
                $.each(data.content, function (i, v) {
                    $('#headRecord').append(`
                        <th style="text-align: center">${v.title}</th>
                    `);
                });
                $('#headRecord').append(`
                    <th style="text-align: center">Trung bình</th>
                    <th style="text-align: center">Hành Động</th>
                `)
            }
        })
    }

    //xuất ra học sinh có trong lớp
    classRoom.findAllStudent = function (page) {
        let idClassRoom = $('#idClassRoom').val();
        $.ajax({
            url: "http://localhost:8080/api/studentClass/" + idClassRoom + "?page=" + page,
            method: "GET",
            data: "json",
            success: function (data) {
                $('#showAllStudent').empty('');
                $('#listStudent').empty('');
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num != 0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="classRoom.findAllStudent(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage - 1) {
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="classRoom.findAllStudent(${num} +1)">Sau</a></li>`);
                }


                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }
                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showAllStudent').append(`
                    <tr>
                          <td>${++i}</td>
                          <td>${v.user.fullname}</td>
                          <td>${v.user.email}</td>
                          <td>${v.user.phoneNumber}</td>
                          <td>
                            <button data-toggle="tooltip" title="Trash"
                             class="pd-setting-ed" onclick="classRoom.deleteStudent(${v.user.id})"><i class="fa fa-trash-o" aria-hidden="true"></i>
                             </button>
                          </td>
                    </tr>
                    `);
                    let recordId = '#record' + i;
                    $('#listStudent').append(listStudents(i, v));
                    $(recordId).append(listPoint(i, v));
                    stt = i
                })
            }
        })
    }
    var listStudents = (i, data) => (`
        <tr id="record${i}">
            <td>${i}</td>
            <td>${data.user.fullname}</td>
        </tr>
            `)
    var listPoint =  (i, v) => {
        let template = "";
        let marks;
        let mark;
        console.log(v.points)
        examType.data.forEach(function (ele) {
            for(let i = 0; i < v.points.length; i ++){
                marks= v.points[i].examType .id;
                console.log(v.points[i])
                if(marks === ele.id ){
                    mark = v.points[i].point;
                    break;
                }else{
                    mark = 0;
                }
            }
            if(mark === undefined){
                mark = 0;
            }
            template += `<td>
            <input type="number" min="0" value="${mark}" max="10"  data-type="${ele.id}" class="form-control point${i}">
            </td>`;
        });
        template += `
            <td>
            <input type="number" value="${v.avgPoints}" id="avg${i}" class="form-control">
            </td>
            <td>
            <button onclick="point.save(${i},${v.id})" data-toggle="tooltip" title="Lưu"class="pd-setting-ed"><i class="fa fa-save" aria-hidden="true"></i>
            </button>
            </td>`;
        return template;
    };


    // xóa học viên khỏi lớp
    classRoom.deleteStudent = function (id) {
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/studentClass/" + id,
                        method: "PATCH",
                        contentType: 'json',
                        success: function (data) {
                            console.log(data)
                            classRoom.findAllStudent(0);
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: 'Xóa học viên thành công'
                            });
                        }
                    });
                }
            }
        })
    }

    //thêm học viên vào form search
    classRoom.addStudent = function (email) {
        $('#search').empty('');
        $('#search').val(email);
        $.ajax({
            url: "http://localhost:8080/api/user/" + email,
            method: "GET",
            dataType: "json",
            success: function (data) {
                userStudent = data
                $('#result').empty('');
            }
        })
    }

    //thêm học viên vào lớp
    classRoom.save = function () {
        let studentClass = {};
        studentClass.classRoom = classR;
        studentClass.user = userStudent;
        $.ajax({
            url: "http://localhost:8080/api/studentClass/",
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(studentClass),
            success: function (data) {
                console.log(data)
                window.Lobibox.notify('success', {
                    size: 'mini',
                    msg: 'Thêm học viên thành công'
                });
                classRoom.findAllStudent(0)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                window.Lobibox.notify('error', {
                    size: 'mini',
                    msg: 'Học viên đã có trong lớp'
                });
            }
        })
    }

    // tìm kiếm classRoom theo id
    classRoom.findById = function () {
        let id = $('#idClassRoom').val();
        $.ajax({
            url: "http://localhost:8080/api/classRoom/" + id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                classR = data
            }
        })
    }

    //xuất ra thời khóa biểu
    timeT.findByClassRoomId = function (){
        let id = $('#idClassRoom').val();
        $.ajax({
            url : "http://localhost:8080/api/timetable/view/"+id,
            method : "GET",
            dataType : "json",
            success : function (data){
                $('#showListTimeTable').empty('');
                $.each(data,function (i,v){
                    let note = v.teacherNote;
                    if(note == null){
                        note = 'chưa-có-lời-nhận-xét'
                    }
                    let lesson = v.classRoom.course.programme.lessonList[i].lessonNumber;
                    let lessoncontent = v.classRoom.course.programme.lessonList[i].content;
                    $('#showListTimeTable').append(`
                        <tr>
                                                        <td>${++i}</td>
                                                        <td>${lesson}</td>
                                                        <td>${v.classRoom.studyTime}</td>
                                                        <td>${v.date}</td>
                                                        <td>${lessoncontent}</td>
                                                        <td>
                                                            <a href="#">
                                                                <button onclick="timeT.attend(${v.id})" data-toggle="tooltip" title="Điểm Danh"
                                                                        class="pd-setting-ed"><i class="fa fa-table"
                                                                                                 aria-hidden="true" style="color: #337ab7"></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="teacherNote${v.id}" class="form-control" value=${note}>
                                                        </td>
                                                        <td>
                                                            <a href="#">
                                                                <button onclick="timeT.save(${v.id})" data-toggle="tooltip" title="Lưu Nhận Xét"
                                                                        class="pd-setting-ed"><i class="fa fa-save"
                                                                                                 aria-hidden="true"></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                    `)
                })
            }
        })
    }

    timeT.save = function (id){
        let timeTableId = '#teacherNote'+id;
        var teacherNote = $(timeTableId).val();
        $.ajax({
            url : "http://localhost:8080/api/timetable/"+id,
            method: "PATCH",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(teacherNote),
            success : function (data){
                console.log(data)
                window.Lobibox.notify('success', {
                    size: 'mini',
                    msg: 'Thêm nhận xét thành công'
                });
            }
        })
    }

    timeT.attend = function (id){
        window.location = "/attend/"+id;
    }


    $(document).ready(function () {
        examType.findAllExamList(0);
        classRoom.findById();
        classRoom.findAllStudent(0);
        timeT.findByClassRoomId();
        $('#search').keyup(function () {
            let searchEmail = $('#search').val();
            $.ajax({
                url: "http://localhost:8080/api/user/?search=" + searchEmail + "&page=0",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    $('#result').empty();
                    if (data.content == '') {
                        $('#result').append(`
                            <li class="text-dark" style="background-color: khaki">Không Tìm Thấy Dữ Liệu Khớp</span></li>
                        `)
                    } else {
                        $.each(data.content, function (i, v) {
                            $('#result').append(`
                            <li class="text-dark" style="background-color: ghostwhite; height: 30px"">
                            <div>
                            <span style="margin-left: 1%"  onclick="classRoom.addStudent('${v.email}')">Email: ${v.email}</span>
                            <span style="margin-left: 5%">Họ Tên: ${v.fullname}</span>
</div>
                            </li>
                        `)
                        })
                    }
                },
            })
        });
    })
</script>
</body>

</html>