<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#studentList">Danh Sách Học Viên</a></li>
                            <li><a href="#schedule">Lịch Trình Bài Học</a></li>
                            <li><a href="#point"> Nhập Điểm</a></li>
                            <li><a href="#importStudent"> Thêm Học Viên Vào Lớp</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="studentList">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên Học Viên</th>
                                                        <th>Email</th>
                                                        <th>Số Điện Thoại</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Nguyễn Văn A</td>
                                                        <td>hocvien@gmail.com</td>
                                                        <td>0967888xxx</td>
                                                        <td>
                                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="custom-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="schedule">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Số Buổi</th>
                                                        <th>Ngày</th>
                                                        <th>Nội Dung Chính</th>
                                                        <th>Điểm Danh</th>
                                                        <th>Nhận Xét</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Lesson 1</td>
                                                        <td>14/4/2021</td>
                                                        <td>Động từ bất quy tắc</td>
                                                        <td>
                                                            <a th:href="@{/attend}"> <button data-toggle="tooltip" title="Điểm Danh" class="pd-setting-ed"><i class="fa fa-table" aria-hidden="true"></i></button></a>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <a href=""> <button data-toggle="tooltip" title="Lưu Nhận Xét" class="pd-setting-ed"><i class="fa fa-save" aria-hidden="true"></i></button></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="custom-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="point">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên Học Viên</th>
                                                        <th style="text-align: center">Lý Thuyết</th>
                                                        <th style="text-align: center">Thực Hành</th>
                                                        <th style="text-align: center">Trung Bình</th>
                                                        <th style="text-align: center">Hành Động</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Nguyễn Văn A</td>
                                                        <td>
                                                            <input type="number" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control">
                                                        </td>
                                                        <td>
                                                            <a href=""> <button data-toggle="tooltip" title="Lưu" class="pd-setting-ed"><i class="fa fa-save" aria-hidden="true"></i></button></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="custom-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="importStudent">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="devit-card-custom">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Email Học Viên">
                                                        </div>
                                                        <a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>

</html>