<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:replace="/manager-page/layout::header"></header>

<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h4>Danh Sách Niên Khóa</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading" style="margin-left: 48%">
                                <form role="search" class="sr-input-func">
                                    <input
                                            onkeyup="courses.search()"
                                            id="search"
                                            type="text"
                                            placeholder="Search..."
                                            class="search-int form-control"
                                    />
                                </form>
                            </div>
                        </div>
                        <p hidden id="mess" th:text="${mess}"></p>
                        <p hidden id="error" th:text="${error}"></p>
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>STT</th>
                                    <th>Niên Khóa</th>
                                    <th>Chương trình</th>
                                    <th>Hành Động</th>
                                </tr>
                                <tbody id="showListCourses">
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <ul class="pagination">
<!--                                <li class="page-item" id="previous"><a class="pageable">Previous</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>
<script>
    var courses = courses || {};
    var programmeData = [];
    var programme = programme || {};
    let stt = 1;
    courses.showAll = function (page) {
        let search = $('#str').val();
        $.ajax({
            url: "http://localhost:8080/api/courses?page="+page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showListCourses').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="courses.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage-1){
                $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="courses.showAll(${num} +1)">Sau</a></li>`);
                }



                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }
                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showListCourses').append(
                        "<tr>" +
                        "<td>" +  ++i + "</td>" +
                        "<td>" + v.courseName + "</td>" +
                        "<td>" + v.programme.programmeName + "</td>" +
                        "<td>" +

                        "<a  href='#' onclick='courses.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>"
                        +
                        "<a style='padding-left: 35px'    ><i onclick='courses.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }

    courses.search = function () {
        let search = $('#str').val();
        $.ajax({
            url: "http://localhost:8080/api/courses/search?name=" + document.getElementById("search").value,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showListCourses').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="courses.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="courses.showAll(${num} +1)">Sau</a></li>`);
                }



                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }
                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showListCourses').append(
                        "<tr>" +
                        "<td>" +  ++i + "</td>" +
                        "<td>" + v.courseName + "</td>" +
                        "<td>" + v.programme.programmeName + "</td>" +
                        "<td>" +

                        "<a  href='#' onclick='courses.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>"
                        +
                        "<a style='padding-left: 35px'    ><i onclick='courses.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }

    courses.delete = function(id){
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url:"http://localhost:8080/api/courses/" + id,
                        method: "DELETE",
                        contentType: 'json',
                        success: function (data) {
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: "xóa thành công"
                            });
                            courses.showAll(0);
                        }
                    });
                }
            }
        });
    }

    courses.editForm = function (id) {
        window.location = "/courses/edit/"+id;
    };
    $(document).ready(function () {
        courses.showAll(0);
    });
</script>
</html>