<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 5%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Chỉ Sửa Kiểm Điểm</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <form th:action="@{/exampleType/edit}" method="post" th:object="${exam}">
                                            <input type="hidden" th:field="*{id}"/>
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad addcoursepro">
                                                    <!--                                                Start Form-->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-group">
                                                                    <label>Tên Kiểu Điểm</label>
                                                                    <input th:field="*{title}" type="text" class="form-control" placeholder="Tên Điểm">
                                                                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">name Error</td>

                                                                </div>
                                                                <div class="form-group">
                                                                    <textarea th:field="*{description}" placeholder="Mô tả"></textarea>
                                                                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">name Error</td>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-lg-1">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!--                                                End Form-->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>

</html>