<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:replace="/manager-page/layout::header"/>

<body>
<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro"/>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"/>
    <div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Chương Trình Học</h5>
                            <h2>
                                +<span class="counter" th:utext="${program.get().count()}"></span>
                                <span class="tuition-fees">Tổng Số</span>
                            </h2>
                            <span class="text-success">100%</span>
                            <div class="progress m-b-0">
                                <div
                                        class="progress-bar progress-bar-success"
                                        role="progressbar"
                                        aria-valuenow="50"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%"
                                >
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Học Viên</h5>
                            <h2>
                                +<span class="counter" th:utext="${student.get().count()}"></span>
                                <span class="tuition-fees">Tổng số</span>
                            </h2>
                            <span class="text-danger">100%</span>
                            <div class="progress m-b-0">
                                <div
                                        class="progress-bar progress-bar-danger"
                                        role="progressbar"
                                        aria-valuenow="50"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%"
                                >
                                    <span class="sr-only">230% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <p hidden id="mess" th:text="${mess}"></p>
                    <p hidden id="error" th:text="${error}"></p>
                    <div
                            class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30"
                    >
                        <div class="analytics-content">
                            <h5>Nhân viên</h5>
                            <h2>
                                +<span class="counter" th:utext="${staff.get().count()}"></span>
                                <span class="tuition-fees">Tổng số</span>
                            </h2>
                            <span class="text-info">100%</span>
                            <div class="progress m-b-0">
                                <div
                                        class="progress-bar progress-bar-info"
                                        role="progressbar"
                                        aria-valuenow="50"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%"
                                >
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div
                            class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30"
                    >
                        <div class="analytics-content">
                            <h5>Lớp học</h5>
                            <h2>
                                +<span class="counter"  th:utext="${class.get().count()}"></span>
                                <span class="tuition-fees">Tổng số</span>
                            </h2>
                            <span class="text-inverse">100%</span>
                            <div class="progress m-b-0">
                                <div
                                        class="progress-bar progress-bar-inverse"
                                        role="progressbar"
                                        aria-valuenow="50"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%"
                                >
                                    <span class="sr-only">230% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>
</html>
