<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head  th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Trung Tâm THT</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


<!--    uploadFile-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- Google Fonts
		============================================ -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
            rel="stylesheet"
    />

    <!-- notifications CSS
      ============================================ -->
    <link rel="stylesheet" href="css/notifications/Lobibox.min.css">
    <link rel="stylesheet" href="css/notifications/notifications.css">


    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/owl.transitions.css" />
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css" />
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css" />
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link
            rel="stylesheet"
            href="/css/scrollbar/jquery.mCustomScrollbar.min.css"
    />
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css" />
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css" />
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- modernizr JS
		============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- x-editor CSS
       ============================================ -->
    <link rel="stylesheet" href="css/editor/select2.css" />
    <link rel="stylesheet" href="css/editor/datetimepicker.css" />
    <link rel="stylesheet" href="css/editor/bootstrap-editable.css" />
    <link rel="stylesheet" href="css/editor/x-editor-style.css" />
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/data-table/bootstrap-table.css" />
    <link rel="stylesheet" href="css/data-table/bootstrap-editable.css" />

<!--    Reponsive-->
    <link rel="stylesheet" href="css/reponsive.css" />
</head>
<body>

<!-- Start Left menu area -->
<div th:fragment="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a th:href="@{/manager/}"
            ><img class="main-logo" th:src="@{/img/logo/logo.png}" alt=""
            /></a>
            <strong
            ><a href="index.html"><img th:src="@{/img/logo/logosn.png}" alt="" /></a
            ></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Landing Page" th:href="@{/manager/}" aria-expanded="false"
                        ><span
                                class="educate-icon educate-home icon-wrap"
                                aria-hidden="true"
                        ></span>
                            <span class="mini-click-non">Tổng Quan</span></a
                        >
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-courses.html"
                                aria-expanded="false"
                        ><span class="educate-icon educate-library icon-wrap"></span>
                            <span class="mini-click-non">Chương Trình</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Library" th:href="@{/programme}"
                                ><span class="mini-sub-pro">Danh Sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Library" th:href="@{/programme/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-courses.html"
                                aria-expanded="false"
                        ><span class="glyphicon glyphicon-star"></span>
                            <span class="mini-click-non">Kiểu Điểm</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Library" th:href="@{/exampleType}"
                                ><span class="mini-sub-pro">Danh Sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Library" th:href="@{/exampleType/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-courses.html"
                                aria-expanded="false"
                        ><span class="glyphicon glyphicon-book"></span>
                            <span class="mini-click-non">Bài Học</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Library" th:href="@{/lesson}"
                                ><span class="mini-sub-pro">Danh sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Library" th:href="@{/lesson/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-courses.html"
                                aria-expanded="false"
                        ><span class="educate-icon educate-course icon-wrap"></span>
                            <span class="mini-click-non">Niên Khóa</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Courses" th:href="@{/courses}"
                                ><span class="mini-sub-pro">Danh Sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Courses" th:href="@{/courses/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-courses.html"
                                aria-expanded="false"
                        ><span class="glyphicon glyphicon-list"></span>
                            <span class="mini-click-non">Lớp Học</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Library" th:href="@{/class}"
                                ><span class="mini-sub-pro">Danh sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Library" th:href="@{/class/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-professors.html"
                                aria-expanded="false"
                        ><span
                                class="educate-icon educate-professor icon-wrap"
                        ></span>
                            <span class="mini-click-non">Nhân Sự</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Professors" th:href="@{/staff}"
                                ><span class="mini-sub-pro">Danh sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Professor" th:href="@{/staff/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-students.html"
                                aria-expanded="false"
                        ><span class="educate-icon educate-student icon-wrap"></span>
                            <span class="mini-click-non">Học Viên</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Students" th:href="@{/student}"
                                ><span class="mini-sub-pro">Danh sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Students" th:href="@{/student/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                                class="has-arrow"
                                href="all-students.html"
                                aria-expanded="false"
                        ><span class="educate-icon educate-event icon-wrap sub-icon-mg"></span>
                            <span class="mini-click-non">Thời Khóa Biểu</span></a
                        >
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>
                                <a title="All Students" th:href="@{/timetable}"
                                ><span class="mini-sub-pro">Danh sách</span></a
                                >
                            </li>
                            <li>
                                <a title="Add Students" th:href="@{/timetable/add}"
                                ><span class="mini-sub-pro">Tạo mới</span></a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:fragment="header-advance-area">
        <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul
                                                class="nav navbar-nav mai-top-nav header-right-menu"
                                        >
                                            <li class="nav-item">
                                                <a
                                                        href="#"
                                                        data-toggle="dropdown"
                                                        role="button"
                                                        aria-expanded="false"
                                                        class="nav-link dropdown-toggle"
                                                >
                                                    <img th:src="@{/img/product/pro4.jpg}" alt="" />
                                                    <span class="admin-name">Prof.Anderson</span>
                                                    <i
                                                            class="fa fa-angle-down edu-icon edu-down-arrow"
                                                    ></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li>
                                                        <a th:href="@{/profile}"
                                                        ><span
                                                                class="edu-icon edu-user-rounded author-log-ic"
                                                        ></span
                                                        >My Profile</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="#"
                                                        ><span
                                                                class="edu-icon edu-locked author-log-ic"
                                                        ></span
                                                        >Log Out</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li>
                                        <a title="Landing Page" th:href="@{/manager/}" aria-expanded="false"
                                        ><span
                                                class="educate-icon educate-home icon-wrap"
                                                aria-hidden="true"
                                        ></span>
                                            <span class="mini-click-non">Tổng Quan</span></a
                                        >
                                    </li>
                                    <li>
                                        <a class="has-arrow" th:href="@{/programme}" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span>
                                            <span class="mini-click-non">Chương Trình</span></a>
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Library" th:href="@{/programme}"
                                                ><span class="mini-sub-pro">Danh Sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Library" th:href="@{/programme/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/exampleType}"
                                                aria-expanded="false"
                                        ><span class="glyphicon glyphicon-star"></span>
                                            <span class="mini-click-non">Kiểu Điểm</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Library" th:href="@{/exampleType}"
                                                ><span class="mini-sub-pro">Danh Sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Library" th:href="@{/exampleType/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/lesson}"
                                                aria-expanded="false"
                                        ><span class="glyphicon glyphicon-book"></span>
                                            <span class="mini-click-non">Bài Học</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Library" th:href="@{/lesson}"
                                                ><span class="mini-sub-pro">Danh sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Library" th:href="@{/lesson/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/courses}"
                                                aria-expanded="false"
                                        ><span class="educate-icon educate-course icon-wrap"></span>
                                            <span class="mini-click-non">Niên Khóa</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Courses" th:href="@{/courses}"
                                                ><span class="mini-sub-pro">Danh Sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Courses" th:href="@{/courses/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/class}"
                                                aria-expanded="false"
                                        ><span class="glyphicon glyphicon-list"></span>
                                            <span class="mini-click-non">Lớp Học</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Library" th:href="@{/class}"
                                                ><span class="mini-sub-pro">Danh sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Library" th:href="@{/class/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/staff}"
                                                aria-expanded="false"
                                        ><span
                                                class="educate-icon educate-professor icon-wrap"
                                        ></span>
                                            <span class="mini-click-non">Nhân Sự</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Professors" th:href="@{/staff}"
                                                ><span class="mini-sub-pro">Danh sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Professor" th:href="@{/staff/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/student}"
                                                aria-expanded="false"
                                        ><span class="educate-icon educate-student icon-wrap"></span>
                                            <span class="mini-click-non">Học Viên</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Students" th:href="@{/student}"
                                                ><span class="mini-sub-pro">Danh sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Students" th:href="@{/student/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                                class="has-arrow"
                                                th:href="@{/timetable}"
                                                aria-expanded="false"
                                        ><span class="educate-icon educate-event icon-wrap sub-icon-mg"></span>
                                            <span class="mini-click-non">Thời Khóa Biểu</span></a
                                        >
                                        <ul class="submenu-angle" aria-expanded="false">
                                            <li>
                                                <a title="All Students" th:href="@{/timetable}"
                                                ><span class="mini-sub-pro">Danh sách</span></a
                                                >
                                            </li>
                                            <li>
                                                <a title="Add Students" th:href="@{/timetable/add}"
                                                ><span class="mini-sub-pro">Tạo mới</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->


        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>


<footer th:fragment="scrip">
    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<!--    Fonrt Awesome-->
    <script src="https://kit.fontawesome.com/f9d4b9dcf7.js" crossorigin="anonymous"></script>
    <!-- jquery
   ============================================ -->

    <!-- bootstrap JS
        ============================================ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>


    <!-- wow JS
        ============================================ -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- price-slider JS
        ============================================ -->
    <script th:src="@{/js/jquery-price-slider.js}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- sticky JS
        ============================================ -->
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- counterup JS
        ============================================ -->
    <script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/counterup/waypoints.min.js}"></script>
    <script th:src="@{/js/counterup/counterup-active.js}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/js/metisMenu/metisMenu-active.js}"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script th:src="@{/js/morrisjs/raphael-min.js}"></script>
    <script th:src="@{../js/morrisjs/morris.js}"></script>
    <script th:src="@{/js/morrisjs/morris-active.js}"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/sparkline/jquery.charts-sparkline.js}"></script>
    <script th:src="@{/js/sparkline/sparkline-active.js}"></script>
    <!-- calendar JS
        ============================================ -->
    <script th:src="@{/js/calendar/moment.min.js}"></script>
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/calendar/fullcalendar-active.js}"></script>
    <!-- plugins JS
        ============================================ -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- main JS
        ============================================ -->
    <script th:src="@{/js/main.js}"></script>

    <!-- notification JS
    ============================================ -->
    <script src="js/notifications/Lobibox.js"></script>
    <script src="js/notifications/notification-active.js"></script>

    <script th:if="${mess != null}">
        window.Lobibox.notify('success', {
            size: 'mini',
            msg: document.getElementById("mess").innerHTML
        });
    </script>
    <script th:if="${error != null}">
        window.Lobibox.notify('error', {
            size: 'mini',
            msg: document.getElementById("error").innerHTML
        });
    </script>

<!--    upload FIle-->
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>



    <!-- data table JS
    ============================================ -->
    <script src="js/data-table/bootstrap-table.js"></script>
    <script src="js/data-table/tableExport.js"></script>
    <script src="js/data-table/data-table-active.js"></script>
    <script src="js/data-table/bootstrap-table-editable.js"></script>
    <script src="js/data-table/bootstrap-editable.js"></script>
    <script src="js/data-table/bootstrap-table-resizable.js"></script>
    <script src="js/data-table/colResizable-1.5.source.js"></script>
    <script src="js/data-table/bootstrap-table-export.js"></script>
</footer>
</html>