<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Danh Sách Buổi Theo Chương Trình</h4>
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>STT</th>
                                    <th>Chương trình học</th>
                                    <th>Tổng Số Buổi</th>
                                    <th>Action</th>
                                </tr>
                                <tbody id="showListLessons">
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>
<script>

    var lessons = lessons|| {};
    lessons.showAll = function (page) {
        let search = $('#str').val();
        $.ajax({
            url: "http://localhost:8080/api/programmes?page="+page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showListLessons').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="lessons.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="lessons.showAll(${num} +1)">Sau</a></li>`);
                }

                $.each(data.content, function (i, v) {

                    $('#showListLessons').append(
                        "<tr>" +
                        "<td>" + v.id + "</td>" +
                        "<td>" + v.programmeName + "</td>" +
                        "<td>" + v.lessons + "</td>" +
                        "<td>" +
                        "<a style='padding-left: 35px'  href='#' onclick='lessons.view(" + v.id + ")'  ><i class=\"fas fa-eye\"></i></a>"
                        +
                       "</td>" +
                        "</tr>"
                    );


                })
            }

        })
    }




    lessons.view = function (id) {
        window.location = "/lesson/list/"+id;
    };

    $(document).ready(function () {
        lessons.showAll(0);
    });
</script>
</html>