<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-top: 5%;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-mg-b-30">
                        <div class="student-img">
                            <img src="/img/student/1.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Buổi 1</h2>
                            <p class="dp">Anh Văn Giao Tiếp Nhập Môn</p>
                        </div>
                        <div class="product-buttons" style="display: flex; justify-content: space-evenly;">
                            <a href="#"><button type="button" title="Chi Tiết" class="button-default cart-btn"><i class="fas fa-eye"></i></button></a>
                            <a th:href="@{/lesson/edit}"><button type="button" title="Chỉnh Sửa" class="button-default cart-btn"><i class="fas fa-edit"></i></button></a>
                            <a th:href="@{/lesson/delete}"><button type="button" title="Xóa" class="button-default cart-btn"><i class="fas fa-trash"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>

</html>