<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="data-table-area mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <p hidden id="mess" th:text="${mess}"></p>
                            <p hidden id="error" th:text="${error}"></p>
                           <div class="row">
                               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <ul id="myTabedu1" class="tab-review-design">
                                       <li class="active"><a href="#description">Danh Sách Nội Dung Buổi Học</a></li>
                                   </ul>
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <div class="breadcome-heading" style="margin-left: 48%">
                                       <form role="search" class="sr-input-func">
                                           <input onkeyup="lessons.search()" type="text" id="search" placeholder="Search..." class="search-int form-control"/>
                                       </form>
                                   </div>
                               </div>
                           </div>
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <form th:action="@{/lesson/list}" method="post" th:object="${lesson}">
                                    <input type="hidden" id="idProgramme" th:value="${programmes.id}"/>
                                    <p>Chương Trình:</p>
                                    <p id="programs" th:text="${programmes.programmeName}"></p>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="product-status-wrap">
                                                <div class="asset-inner">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Tên Buổi Học</th>
                                                            <th>Nội Dung</th>
                                                            <th>Hành Động</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="showLesson">
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="custom-pagination">
                                                    <ul class="pagination">
                                                        <li class="page-item"><a class="page-link" href="#">Previous</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    var lessons = {};
    let stt = 1;
    lessons.showAll = function (page) {
        let program = $('#idProgramme').val()
        $.ajax({
            url: "http://localhost:8080/api/lessons?program=" + program + "&page=" + page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showLesson').empty('');
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num != 0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="lessons.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage - 1) {
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="lessons.showAll(${num} +1)">Sau</a></li>`);
                }


                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }


                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showLesson').append(
                        "<tr>" +
                        "<td>" + ++i + "</td>" +
                        "<td>" + v.lessonNumber + "</td>" +
                        "<td>" + v.content + "</td>" +
                        "<td>" +
                        "<a   href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='lessons.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>"
                        +
                        "<a style='padding-left: 35px'  href='#' data-toggle='tooltip' title='Xóa'><i onclick='lessons.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }

    lessons.search = function () {
        let program = $('#idProgramme').val()
        $.ajax({
            url: "http://localhost:8080/api/lessons/search?name=" + document.getElementById("search").value,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#showLesson').empty('');
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                console.log(totalPage);
                $('.pagination').empty('');
                if (num != 0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="lessons.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }

                }

                if (num < totalPage - 1) {
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="lessons.showAll(${num} +1)">Sau</a></li>`);
                }


                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }


                $.each(data.content, function (i, v) {
                    i = stt
                    $('#showLesson').append(
                        "<tr>" +
                        "<td>" + ++i + "</td>" +
                        "<td>" + v.lessonNumber + "</td>" +
                        "<td>" + v.content + "</td>" +
                        "<td>" +
                        "<a   href='#' data-toggle='tooltip' title='Chỉnh Sửa' onclick='lessons.editForm(" + v.id + ")'  ><i class=\"fas fa-edit\" ></i></a>"
                        +
                        "<a style='padding-left: 15%'  href='#' data-toggle='tooltip' title='Xóa'><i onclick='lessons.delete(" + v.id + ")' class=\"fas fa-trash-alt\"></i></a>" +
                        "</td>" +
                        "</tr>"
                    );
                    stt = i
                })
            }

        })
    }


    lessons.delete = function (id) {
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/lessons/" + id,
                        method: "DELETE",
                        contentType: 'json',
                        success: function (data) {
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: "xóa thành công"
                            });
                            lessons.showAll(0);
                        }
                    });
                }
            }
        });
    }


    lessons.editForm = function (id) {
        window.location = "/lesson/edit/" + id;
    };

    $(document).ready(function () {
        lessons.showAll(0);
    });
</script>
</body>

</html>