<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:replace="/manager-page/layout::header"></header>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->

<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="data-table-area mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                    <form th:action="@{/mail/user}" method="post">
                        <div class="hpanel email-compose">
                            <div class="panel-heading hbuilt">
                                <div class="p-xs h4">
                                    Mail Cho Đối Tượng
                                </div>
                            </div>
                            <div class="panel-heading hbuilt">
                                <div class="p-xs">
                                    <label>Đến:</label>
                                    <div class="form-group">
                                        <input name="to" type="text" class="form-control input-sm"
                                               placeholder="example@email.com">
                                    </div>
                                </div>
                                <div class="p-xs">
                                    <label>Cc:</label>
                                    <div class="form-group">
                                        <input name="to2" type="text" class="form-control input-sm"
                                               placeholder="example@email.com">
                                    </div>
                                    <label style="opacity: 50%">* cách nhau bởi khoảng trống</label>
                                </div>

                                <div class="panel-heading hbuilt">
                                    <div class="p-xs">
                                        <div class="form-group">
                                            <label>Tiêu Đề:</label>
                                            <textarea class="form-control" rows="2" name="subject"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label>Nội Dung:</label>
                            <div class="panel-body no-padding" style=" margin-top: 1%; margin-bottom: 1%">
                             <textarea class="summernote6" name="content">
                                </textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </div>
                    </form>

                </div>
                <p hidden id="mess" th:text="${mess}"></p>
                <p hidden id="error" th:text="${error}"></p>
            </div>
        </div>
    </div>
</div>


<!--Scrip-->
<footer th:replace="/manager-page/layout::scrip"></footer>
</body>
</html>