<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid" style="margin-top: 1%">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="profile-info-inner">
                        <div class="profile-img">
                            <th:block th:if="${user.image} == null">
                                <img src="img/profile/1.jpg" alt="" />
                            </th:block>
                            <th:block  th:if="${user.image} != null">
                                <img th:src="@{'upload/'+${user.image}}" alt="" />
                            </th:block>
                        </div>
                        <div class="profile-details-hr">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>Họ Tên</b><br /><span th:utext="${user.fullname}"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Ngày Sinh</b><br /> <span id="dateOfBirth" th:utext="${user.dateOfBirth}"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>Email</b><br /><span th:utext="${user.email}"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>SDT</b><br /><span th:utext="${user.phoneNumber}"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Địa chỉ</b><br /><span th:utext="${user.ward.wardName}+','"></span><span th:utext="${user.ward.district.distinctName}+','"></span><span th:utext="${user.ward.district.province.provinceName}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Thông Tin Cá Nhân</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Họ Tên</b><br /><span th:utext="${user.fullname}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>SDT</b><br /> <span th:utext="${user.phoneNumber}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Email</b><br /><span th:utext="${user.email}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Địa Chỉ</b><br /><span th:utext="${user.ward.wardName}+','"></span><span th:utext="${user.ward.district.distinctName}+','"></span><span th:utext="${user.ward.district.province.provinceName}"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="content-profile">
                                                        <th:block th:if="${user.information} == null">
                                                            <p> chưa có thông tin</p>
                                                        </th:block>
                                                        <th:block th:if="${user.information} != null">
                                                            <p th:utext="${user.information}"> </p>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    $(document).ready(function (){
        document.getElementById("dateOfBirth").innerHTML = moment(document.getElementById("dateOfBirth").innerHTML).format("YYYY-MM-DD")
    })
</script>
</body>

</html>