<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->



<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="courses-area" style="margin-top: 2%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="courses-inner res-mg-b-30">
                        <div class="courses-title">
                            <a th:href="@{/programme/info}"><img src="img/courses/1.jpg" alt=""></a>
                            <h2>Apps Development</h2>
                        </div>
                        <div class="courses-alaltic">
                            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>
                            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>
                        </div>
                        <div class="course-des">
                            <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> 6 Months</p>
                            <p><span><i class="fa fa-clock"></i></span> <b>Professor:</b> Jane Doe</p>
                            <p><span><i class="fa fa-clock"></i></span> <b>Students:</b> 100+</p>
                        </div>

                        <div class="product-buttons" style="display: flex; justify-content: space-evenly;">
                            <a th:href="@{/programme/info}"><button type="button" class="button-default cart-btn"><i class="fas fa-eye"></i></button></a>
                            <a th:href="@{/programme/edit}"><button type="button" class="button-default cart-btn"><i class="fas fa-edit"></i></button></a>
                            <a th:href="@{/programme/delete}"><button type="button" class="button-default cart-btn"><i class="fas fa-trash"></i></button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
</body>

</html>