<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid" style="margin-top: 5%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Tạo Mới Tài Khoản Nhân Sự</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                                <form th:action="@{/staff/add}" method="post" th:object="${user}" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <input th:field="*{password}" type="hidden" value="" class="form-control">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('password')}"
                                                                       th:errors="*{password}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Email </label>
                                                                <input th:field="*{email}" type="text" class="form-control" placeholder="Email">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('email')}"
                                                                       th:errors="*{email}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Họ Tên</label>
                                                                <input th:field="*{fullname}" type="text" class="form-control" placeholder="FullName">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('fullname')}"
                                                                       th:errors="*{fullname}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Số Điện Thoại</label>
                                                                <input th:field="*{phoneNumber}" type="number" class="form-control" placeholder="Number Phone">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('phoneNumber')}"
                                                                       th:errors="*{phoneNumber}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Số CMND Hoặc Thẻ Căn CƯớc</label>
                                                                <input th:field="*{idCard}" id="postcode" type="text" class="form-control" placeholder="Số CMND hoặc thẻ căn cước">
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('idCard')}"
                                                                       th:errors="*{idCard}">Name Error</small>
                                                            </div>
                                                            <div class="form-group data-custon-pick" id="data_2">
                                                                <label><b>Ngày Sinh</b></label>
                                                                <div class="input-group date"></div>
                                                                <input type="date" class="form-control" id="currentdate" th:field="*{dateOfBirth}" >
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('dateOfBirth')}"
                                                                       th:errors="*{dateOfBirth}">Name Error</small>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <label>Giới Tính</label>
                                                            <div class="form-group">
                                                                <select th:field="*{gender}" class="form-control">
                                                                    <option value=-1 selected="selected">Giới Tính</option>
                                                                    <option value=0>Male</option>
                                                                    <option value=1>Female</option>
                                                                    <option value=3>Other</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Tỉnh - Thành Phố</label>
                                                                <select id="provinces" name="province" class="form-control">
                                                                    <option value="none" selected=""  disabled="">Tỉnh - Thành Phố</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Quận -  Huyện</label>
                                                                <select name="state" id="districts" class="form-control">
                                                                    <option value="none" selected="" disabled="">Quận -  Huyện</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Xã Phường - Thị Trấn</label>
                                                                <select th:field="*{ward}" id="ward" class="form-control">
                                                                    <option value="" selected="">Xã Phường - Thị Trấn</option>
                                                                </select>
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('ward')}"
                                                                       th:errors="*{ward}">Name Error</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Chức Vụ</label>
                                                                <select th:field="*{roles}" id="roles" class="form-control">
                                                                    <option value="" selected="">Chức Vụ</option>
                                                                </select>
                                                                <small class="form-text text-muted"
                                                                       th:if="${#fields.hasErrors('roles')}"
                                                                       th:errors="*{roles}">Name Error</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <div class="payment-adress">
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    var provinces = {};
    var role = {};
    provinces.showAllProvince = function (){
        $.ajax({
            url :"http://localhost:8080/api/provinces/",
            method : "GET",
            dataType : "json",
            success : function (data){
                $.each(data,function (i,v){
                    $('#provinces').append(`<option value="${v.provinceCode}">${v.provinceName}</option>`)
                })
            }
        })
    };

    role.showAllRole = function (){
        $.ajax({
            url :"http://localhost:8080/api/roles/",
            method : "GET",
            dataType : "json",
            success : function (data){
                for(let i = 0; i < data.length; i++){
                    if(data[i].name !== "ROLE_STUDENT"){
                        if(  data[i].name !== "ROLE_ADMIN") {
                            $('#roles').append(`<option value="${data[i].id}">${data[i].description}</option>`)
                        }
                    }
                }
            }
        })
    }
    $(document).ready(function () {
        $('#currentdate').val(moment(new Date()).format("YYYY-MM-DD"))
        $('#password').val("123456789")
        provinces.showAllProvince();
        role.showAllRole();
        $('#provinces').change(function (event){
            let provinceCode = $('#provinces').val();
            $.ajax({
                url : "http://localhost:8080/api/provinces/districts/"+provinceCode,
                method: "GET",
                dataType: "json",
                success : function (data){
                    $('#districts').empty('');
                    $.each(data,function (i,v){
                        $('#districts').append(`<option value="${v.districtCode}">${v.distinctName}</option>`)
                    })
                }
            })
        })
        $('#districts').change(function (event){
            let districtCode = $('#districts').val();
            $.ajax({
                url : "http://localhost:8080/api/provinces/districts/wards/"+districtCode,
                method: "GET",
                dataType: "json",
                success : function (data){
                    $('#ward').empty('');
                    $.each(data,function (i,v){
                        $('#ward').append(`<option value="${v.wardCode}">${v.wardName}</option>`)
                    })
                }
            })
        })
    })
</script>
</body>

</html>
