<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row" style="background-color: white;margin-top: 1%;margin-left:0%; width: 100%">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 1.2%">
                    <h4>Danh Sách Học Viên</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 0.5%">
                    <div class="breadcome-heading" style="margin-left: 54%">
                        <form role="search" class="sr-input-func">
                            <input
                                    type="text"
                                    placeholder="Search..."
                                    class="search-int form-control"
                            />
                            <a href="#"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
            </div>
            <p hidden id="mess" th:text="${mess}"></p>
            <p hidden id="error" th:text="${error}"></p>
            <div class="row" id="show-list-user" style="margin-top: 1%">
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" id="pageable">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    var users = {};
    users.findAllStudent = function (page) {
        $.ajax({
            url: "http://localhost:8080/api/students?page=" + page,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#show-list-user').empty();
                let totalPage = parseInt(data.totalPages);
                let num = parseInt(data.pageable.pageNumber);
                $('.pagination').empty('');
                if (num !=0) {
                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="users.findAllEmployee(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {
                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }
                }
                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="users.findAllEmployee(${num} +1)">Sau</a></li>`);
                }
                $.each(data.content, function (i, v) {
                    let info = ' chưa có thông tin';
                    if(v.information == null){
                        v.information = info;
                    }
                    let dateEdit = v.editedDate;
                    let dateCreate = v.createdDate;
                    let formatterDate = moment(dateCreate).format('DD/MM/YYYY');
                    let formatterDateEdit = moment(dateEdit).format('DD/MM/YYYY');
                    if(dateEdit == null){
                        formatterDateEdit = formatterDate;
                    }
                    $('#show-list-user').append(`
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                        <div class="panel-body custom-panel-jw">
                            <div class="social-media-in">
                                <a onclick="users.view(${v.id})"><i class="fas fa-eye"></i></a>
                                <a onclick="users.edit(${v.id})"><i class="fas fa-edit"></i></a>
                                <a th:href="" onclick="users.delete(${v.id})"><i class="fas fa-trash"></i></i></a>
                        </div>
                        <img alt="logo" class="img-circle m-b" src="img/contact/1.jpg">
                            <h3><a href="">${v.fullname}</a></h3>
                            <p class="all-pro-ad">${v.ward.wardName},${v.ward.district.distinctName},${v.ward.district.province.provinceName}</p>
                            <p style="white-space: nowrap;width: 100%; overflow: hidden; text-overflow: ellipsis; " th:if="${v.information != 'null'}" >
                                ${v.information}
                            </p>
                            <p style="white-space: nowrap;width: 100%; overflow: hidden; text-overflow: ellipsis; " th:if="${v.information != 'null'}" >
                               <b>Ngày cập nhật mới nhất : </b> </br>${formatterDateEdit}
                            </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="professor-stds-int">
                            <div class="professor-stds">
                                <div class="contact-stat"><span>Likes: </span> <strong>956</strong></div>
                            </div>
                            <div class="professor-stds">
                                <div class="contact-stat"><span>Comments: </span> <strong>350</strong></div>
                            </div>
                            <div class="professor-stds">
                                <div class="contact-stat"><span>Views: </span> <strong>450</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
</div>`)
                })
            }
        })
    }

    users.edit = function (id){
        window.location = "/student/edit?id="+id;
    }

    users.view = function (id){
        window.location = "/student/view/"+id;
    }

    users.delete = function (id){
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/students/"+id,
                        method: "PATCH",
                        contentType: 'json',
                        success: function (data) {
                            users.findAllStudent(0);
                        }
                    });
                }
            }
        })
    }

    $(document).ready(function () {
        users.findAllStudent(0)
    })


</script>
</body>

</html>