<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="manager-page/layout.html::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="manager-page/layout.html::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="manager-page/layout.html::container-fluid"/>
    <div th:replace="manager-page/layout.html::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Danh Sách Học Viên</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="product-status-wrap">
                                            <div class="asset-inner">
                                                <table>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Số Buổi</th>
                                                        <th>Thứ</th>
                                                        <th>Khung giờ học</th>
                                                        <th>Ngày</th>
                                                        <th>Nội Dung Chính</th>
                                                        <th>Nhận Xét</th>
                                                    </tr>
                                                    <th:block th:each="timeTable, iStart : ${timeTables}">
                                                        <tr>
                                                            <td th:utext="${iStart.count}"></td>
                                                            <td th:utext="${timeTable.classRoom.course.programme.getLessonList().get(iStart.index).getLessonNumber()}"></td>
                                                            <th:block th:switch="${timeTable.date.getDayOfWeek().getValue()}">
                                                                <td th:case="1">Thứ 2</td>
                                                                <td th:case="2">Thứ 3</td>
                                                                <td th:case="3">Thứ 4</td>
                                                                <td th:case="4">Thứ 5</td>
                                                                <td th:case="5">Thứ 6</td>
                                                                <td th:case="6">Thứ 7</td>
                                                                <td th:case="*" >CHủ nhật</td>
                                                            </th:block>
                                                            <td th:utext="${timeTable.classRoom.studyTime}"></td>
                                                            <td th:utext="${timeTable.date}"></td>
                                                            <td th:utext="${timeTable.classRoom.course.programme.getLessonList().get(iStart.index).getContent()}"></td>
                                                            <td>
                                                                <input type="text" class="form-control"
                                                                       th:value="${timeTable.teacherNote != null} ? ${timeTable.teacherNote} :'Chưa có nhật ký ngày' "
                                                                       readonly>
                                                            </td>
                                                        </tr>
                                                    </th:block>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="manager-page/layout.html::scrip"></footer>
</body>

</html>