<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:replace="/manager-page/layout::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="/manager-page/layout::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="/manager-page/layout::container-fluid"/>
    <div th:replace="/manager-page/layout::header-advance-area"></div>
    <div class="product-status mg-b-15" style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h4>Danh Sách Thời Khóa Biểu</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading" style="margin-left: 48%">
                                <form role="search" class="sr-input-func">
                                    <input
                                            type="text"
                                            placeholder="Search..."
                                            class="search-int form-control"
                                    />
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <p hidden id="mess" th:text="${mess}"></p>
                        <p hidden id="error" th:text="${error}"></p>
                        <div class="asset-inner">
                            <table>
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thuộc Lớp</th>
                                    <th>Ngày Bắt Đầu</th>
                                    <th>Số buổi</th>
                                    <th>Chủ Nhiệm</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="showListTimeTable">
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/manager-page/layout::scrip"></footer>
<script type="text/javascript">
    var classRoom = {};

    classRoom.showAll = function (page) {
        $.ajax({
            url : "http://localhost:8080/api/classRoom/timeTable?page="+page,
            method : "GET",
            dataType : "json",
            success : function (data){
                $('#showListTimeTable').empty('');
                let totalPage = parseInt(data.totalPages);
                console.log(totalPage);
                let num = parseInt(data.pageable.pageNumber);
                $('.pagination').empty('');
                if (num !=0) {

                    $('.pagination').append(`<li class="page-item" ><a class="page-link" href="#" onclick="classRoom.showAll(${num} -1)">Trước</a></li>`)
                }
                for (let i = 0; i < totalPage; i++) {

                    if (data.pageable.pageNumber === i ) {
                        $('.pagination').append(`<li class="page-item "><a class="page-link" href="#">${i + 1}</a></li>`);
                    }
                }

                if (num < totalPage-1){
                    $('.pagination').append(`<li class="page-item"><a class="page-link" href="#" onclick="classRoom.showAll(${num} +1)">Sau</a></li>`);
                }

                if (num == 0) {
                    stt = 0;
                } else {
                    stt = (num++) * 8;
                }

                $.each(data.content, function (i, v) {
                    i = stt
                    let day = v.startDate;
                    if(day !== undefined){
                        day = moment(day).format("YYYY-MM-DD")
                    }else {
                        day = "lớp chưa có thời khóa biểu"
                    }
                    $('#showListTimeTable').append(`
                         <tr>
                                    <td>${++i}</td>
                                    <td>${v.className}</td>
                                    <td>${day}</td>
                                    <td>${v.course.programme.lessons}</td>
                                    <td>${v.teacher.fullname}</td>
                                    <td>
                                        <a  href='#' data-toggle='tooltip' title='Chi Tiết'  onclick="classRoom.viewTimeTable(${v.id})"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href='#' style="margin-left: 15%" data-toggle='tooltip' title='Xóa' onclick="classRoom.deleteTimeTable(${v.id})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>`
                    );
                    stt = i;
                })
            }
        })
    };

    classRoom.viewTimeTable = function (id){
        window.location = "/timetable/view/"+id;
    }

    classRoom.deleteTimeTable = function (id){
        bootbox.confirm({
            message: "Bạn có chắc muốn xóa không?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times">Không</i> '
                },
                confirm: {
                    label: '<i class="fa fa-check"> Có</i>'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/timetable/"+id,
                        method: "DELETE",
                        contentType: 'json',
                        success: function (data) {
                            console.log(data)
                            window.Lobibox.notify('success', {
                                size: 'mini',
                                msg: "xóa thành công"
                            });
                            classRoom.showAll(0);
                        }
                    });
                }
            }
        })
    }

    $(document).ready(function (){
        classRoom.showAll(0);
    })
</script>
</body>

</html>