<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:replace="manager-page/layout.html::header"></header>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Start Left menu area -->
<div th:replace="manager-page/layout.html::left-sidebar-pro">
</div>
<!-- End Left menu area -->


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div th:replace="manager-page/layout.html::container-fluid"/>
    <div th:replace="manager-page/layout.html::header-advance-area"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 3%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Tạo Thời Khóa Biểu Mới</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad addcoursepro">
                                                <!--                                                Start Form-->
                                                <div class="dropzone dropzone-custom needsclick addcourse"
                                                      id="demo1-upload">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="classRoom">Lớp</label>
                                                                <select class="form-control" id="classRoom"
                                                                        name="sellist1">
                                                                    <option value="" selected disabled>---Vui Lòng chọn---
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <fieldset>
                                                                <legend>Ngày Học Trong Tuần</legend>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <!--                                                                <label for="teacher"></label>-->
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check1">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check1"
                                                                                   name="vehicle1"
                                                                                   value="1"> Thứ
                                                                            2
                                                                        </label>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check5">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check5"
                                                                                   name="vehicle1"
                                                                                   value="2"> Thứ
                                                                            3
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check3">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check3"
                                                                                   name="vehicle1"
                                                                                   value="3"> Thứ
                                                                            4
                                                                        </label>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check6">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check6"
                                                                                   name="vehicle1"
                                                                                   value="4"> Thứ
                                                                            5
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check4">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check4"
                                                                                   name="vehicle1"
                                                                                   value="5"> Thứ
                                                                            6
                                                                        </label>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <div class="form-check-inline">
                                                                        <label class="form-check-label"
                                                                               for="check7">
                                                                            <input type="checkbox"
                                                                                   class="form-check-input dayTime"
                                                                                   id="check7"
                                                                                   name="vehicle1"
                                                                                   value="6"> Thứ
                                                                            7
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <div class="payment-adress">
                                                                <button type="submit" onclick="timeTables.add()"
                                                                        class="btn btn-primary waves-effect waves-light">
                                                                    Submit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--                                                End Form-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="manager-page/layout.html::scrip"></footer>
<script type="text/javascript">
    let apiUrl = "https://tht-center.herokuapp.com";
    // let apiUrl = "http://localhost:8080/api";
    const timeTables = {};
    const classRoom = {};
    classRoom.findAll = function (){
        $.ajax({
            url : apiUrl+"/classRoom/",
            method : "GET",
            dataType : "json",
            success : function (data){
                $('#classRoom').empty();
                $.each(data,function (i,v){
                    $('#classRoom').append(`
                     <option value="${v.id}">${v.className}</option>
                    `)
                })
            }
        })

    }
    timeTables.add = function (){
        const arrDays = [];
        let days = document.getElementsByClassName('dayTime');
        let length = days.length;
        for(let i = 0; i < length; i++){
            if(days[i].checked === true){
                arrDays.push(days[i].value)
            }
        }
        let timeTableData = {};
        timeTableData.daysOfWeek = arrDays;
        timeTableData.startDate = $('#dateStart').val();
        timeTableData.classId = $('#classRoom').val();

        $.ajax({
            url: apiUrl+"/timetable/",
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(timeTableData),
            success: function (data) {
                console.log(data);
                window.Lobibox.notify('success', {
                    size: 'mini',
                    msg: 'Tạo thời khóa biểu thành công'
                });
                classRoom.findAllStudent(0);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                window.Lobibox.notify('error', {
                    size: 'mini',
                    msg: 'Lớp đã có thời khóa biểu'
                });
            }
        })


    }

    $(document).ready(function (){
        classRoom.findAll();
    })
</script>
</body>

</html>